*{
    margin: 0%;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-weight: 800;
    color: #222;
}
.container{
    display: block;
    background: #fff;
}
.header{
    position: fixed;
    top: 0px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #fff;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1;
    
}
.header #logo{
    position: relative;
    width: 8%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.bar1{
    position: relative;
    width: 20%;
    top: 30px;
    padding: 15px;
    height: 40px;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
}
.bar2
{
    position: relative;
    padding: 15px;
    height: 40px;
    right: 18px;
    font-size: 18px;
    cursor: pointer;
}
.h
{
    
    margin-left: 30%;
}
.title
{
     position: relative;
     right: 30px;
    top: 30px;
    padding: 15px;
}
.row{
    position: relative;
    margin-top: 100px;
    padding: 30px 10px;
    width: 100%;
    display: flex;
    background: #fff;
    flex-direction: column;
    gap: 20px;
}
.links{
    display: flex;
    width: 100%;
    padding: 5px;
    height: 85px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.images{
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 25px;
}
.Link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Link b{
    font-size: 20px;
    color: white;
}
.foot{
    position: relative;
    height: auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background: #fff;
}
.txt{
    font-size: small;
}
.la-google-drive{
    position: relative;
    font-size: 18px;
}
.la-html5,.la-js,.la-css3-alt{
    position: relative;
    font-size: 20px;
    font-weight: normal;
}
.la-angle-left{
    margin-top: 12px;
}
.la-bars{
    font-size: 30px;
}
.Menu_1{
    position: fixed;
    display: none;
    padding: 10px;
    width: 60%;
    top: 0px;
    flex-direction: column;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 100vh;
    border-radius: 5px;
    gap: 10px;
    z-index: 1;
    transition: 0.8s;
}
.barbtn{
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 40px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(#fff,#fff);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.8s;
}
.barbtn:hover{
    background: #999;
    font-weight: bold;
}
.close{
    padding: 8px;
}
.crmenu
{
    display: none;
}
.button{
    position: relative;
    margin-top: 40px;
    width: 200px;
    bottom: 20px;
    height: auto;
    font-size: 16px;
    padding: 10px 15px;
    background: coral;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}
.button:hover{
    background: lightgreen;
}
h4,h3,b{
    font-size: 18px;
}
p{
    font-size: 15px;
    font-weight: 500;
}
.work{
    position: absolute;
    top: 90px;
    width: 100%;
    display: block;
    height: 600px;
    padding: 40px 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 5px;
}
.rlt{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    gap: 10px;
    top: 100px;
    height: 100vh;
    padding: 10px;
    text-align: center;
    background: #fff;
}
.rltlink{
    position: relative;
    margin: 0%;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 30px;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 3px 5px #ddd;
    border-radius: 10px;
}
.rltlink:hover{
    background: #999;
}
.semester{
    position: absolute;
    top: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 100%;
    padding: 15px;
    font-size: 14px;
    background: #fff;
    flex-wrap: wrap;
}
.edit
{
    position: absolute;
    top: 120px;
    text-align: center;
    width: 100%;
    background: #fff;
}
.edit button
{
    font-size: 16px;
    padding: 10px 15px;
    background: coral;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: 0.4s;}
.edit select,option
{
   font-size: 16px;
    padding: 10px;
    background: coral;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}
.edit button:hover
{
    background: lightgreen;
    color: whitesmoke;
    border: none;
}
.edit select:hover
{
    background: lightgreen;
    color: whitesmoke;
    border: none;
}


.ss
{
    position: unset;
    top: unset;
    width: auto;
    left: unset;
    padding: unset;
}

.sems{
    padding: 40px 20px;
    margin-bottom: 1%;
    height: auto;
    width: auto;
    background: ye;
    border-radius: 10px;
    box-shadow: black 0px 6px 12px -2px, black 0px 3px 7px -3px;
   background: lightgreen;
}



select{
    position: relative;
    border-radius: 5px;
    top: -35px;
    left: 75%;
    width: 70px;
    padding: 7px;
    outline: none;
}
select option{
    width: 70px;
    font-size: 12px;
}
h5{
    position: relative;
    top: -35px;
    left: 75%;
}
.ccr 
{
    position: relative;
    top: -35px;
    left: 85%;
}
/* Result display */
.popupbgr{
    position: fixed;
    margin: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}
.popupdisplay{
    position: fixed;
    height: auto;
    padding: 15px;
    width: 250px;
    display: none;
    flex-direction: column;
    font-size: 14px;
    color: #2c4975;
    text-align: center;
    background-color: coral;
    border: 5px solid lightgreen;
    box-shadow: 0px 0px 10px 1000px rgba(190, 190, 190, 0.6);
    border-radius: 10px;
    transition: 0.8s;
}
.popupdisplay h3
{
    color: lightgoldenrodyellow;
    font-weight: bold;
}
.cgpa
{
    position: relative;
    left: 25%;
    color: white;
    font-weight: bold;
}
.wish{
    display: none;
    justify-content: center;
    width: 100%;
    padding: 10px 30px;
    font-weight: 800;
    color: #222;
    height: 40px;
    text-align: center;
    background: #fff;
    font-size: 16px;
    transition: 0.8s;
}
.values{
    display: none;
    width: 100%;
    height: 180px;
    padding: 25px 30px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    color: lightgreen;
    background: #fff;
    transition: 0.8s;
}
.btnPopUpBox{
    width: 100%;
    padding: 10px 15px;
    margin-top: 2%;
    background: lightgreen;
    text-align: center;
    color: black;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}
.btnPopUpBox:hover{
    background: lightgoldenrodyellow;
    color: black;
}

/* Responsive */
@media screen and (max-width:2000px){
    .sems{
        width: 48%;
    }
}
@media screen and (max-width:600px){
    .sems{
        width: 98%;
    }
}

/*-------------------------------------------------------------------------------------------------------------*/
.me
{
    display: flex;
    padding: 20px;
    top: 0px;
    left: 30%;
    border-radius: 5px;
    transition: 0.8s;  
    background: coral; 
}
.hmenu
{
  position: fixed;
    padding: 10px;
    width: 60%;
    top: 0px;
    flex-direction: column;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 100vh;
    border-radius: 5px;
    gap: 10px;
    z-index: 1;
    transition: 1.8s;
    display: none;
}
.hmenu a 
{
    display: flex;
    background: lightgreen;
    text-decoration: none;
    border-radius:15px ;
    margin-top: 1%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    transition: 0.5s;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dropdowncontent a  
{
    width: auto;
    margin: 0%;
    border: 1px solid black;
    background:lightgreen;
    padding: 8px;
    margin-top: 1%;
    color: black;
    border: none;
    transition: 0.5s;

}
.hmenu a:hover
{
    background: coral;
    color: white;
    transform:translate3d(10px,-5px, -15px);
}
.dropdowncontent a:hover
{
    transform: translateX(10px);
    background: coral;
    color: white;
    border: none;
}

.dropdowncontent {
    display: none;
    margin-left: 5%;
    text-align: center;
}
.dropdown:hover .dropdowncontent
{
    display: block;
}
.header
{
   border-radius: 5%;
}
.sem2020
{
    display: none;
}
.sem2021
{
    display: none;
}
.sem2022
{
    display: none;
}
.sem2023
{
    display: none;
}


.regulation 
{
    display: none;
}

/*-----------------------------------------------------------------------------*/


.cse 
{
    background: url('../cseimg.avif');
    color: whitesmoke;
}
.ece 
{
    background: url('../cseimg.avif');
    color: whitesmoke;
}
.bio
{
    color: white;
    background: url('../bioimg.jpg');
}
.civil 
{
    color: whitesmoke;
    background:url('../civil.jpg') ;
}
.eee
{
      background: url('../eeeimg.jpg');
      color: white;
}

.mech
{
   background: url('../mechimg.jpg');
   color: white;
}
